

<% if (Object.keys(linksDict).length > 0) { %>
    <% for (const key in linksDict) { %>
        <li><%= key %></li>
    <% }; %>
<% } else { %>
    <li>Unable to find any SiteMap Links</li>
<% }; %>