<div class="ui top fixed menu inverted">
    <div class="header item">ATC</div>
    <a href="/" class="item <%= activeTab === 'home' ? 'active' : '' %>">Home</a>
    <a href="/about" class="item <%= activeTab === 'about' ? 'active' : '' %>">About</a>
</div>