.hidden-row {
    position: absolute;
    left: -9999px;
}

#navbarSpacer {
    padding-top: 40px;
    /* Update this if Navbar height changes */
}




#mainContainer {
    margin-top: 50px;
}

/* ==================== DATA TABLE ==================== */

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border-radius: 0;
}

table tr > td:first-child,
table tr > th:first-child {
    padding: 8px;
    width: 60%;
    /* border: 1px solid #000; */
}

table tr > td:not(:first-child),
table tr > th:not(:first-child) {
    padding: 8px;
    width: 40%;
    /* border: 1px solid #000; */
}



@media (max-width: 767px) {
    #mainContainer {
        margin-top: 10px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    #mainContainer {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    #mainContainer {
        margin-top: 50px;
    }
}