.hidden-row {
    position: absolute;
    left: -9999px;
}

#navbarSpacer {
    padding-top: 40px;
    /* Update this if Navbar height changes */
}




#mainContainer {
    margin-top: 50px;
}

/* ==================== DATA TABLE ==================== */

.table-container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 10px;
}

#linkTable {
    width: 100%;
}

#linkTable > tr {
    border-radius: 0;
}

/* Override default Semantic UI class */
#linkTable > thead > tr > th {
    border-bottom: 0px;
}

/* Override default Semantic UI class */
#linkTable > tbody > tr:first-child > td {
    border-top: 1px solid rgba(34,36,38,.1);
}

#linkTable tr > td:first-child,
#linkTable tr > th:first-child {
    width: 60%;
}

#linkTable tr > td:not(:first-child),
#linkTable tr > th:not(:first-child) {
    width: 40%;
}

#linkTable tbody tr td {
    height: 63px;
    padding: 11px;
}

/* #linkTable tbody tr {
    height: 63px;
} */


/* ==================== PAGE SELECTION ==================== */
#pageNumberInput {
    width: 70px;
}


@media (max-width: 767px) {
    #mainContainer {
        margin-top: 10px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    #mainContainer {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    #mainContainer {
        margin-top: 50px;
    }
}